<div class="wrapper">
  <div id="flash" class="fade in">
    <%= render 'layouts/flash_messages' %>
  </div>
  <div class="content">

    <h2>SATURDAY, MAY 18, 2013</h2>

    <h3>HESPERIA HIGH SCHOOL // HESPERIA, CA</h3>

    <h3><strong>SESSION 1</strong> &nbsp;&nbsp;&nbsp;&nbsp; AGES 6-7 // 9:00 am – 10:30 am</h3>

    <h3><strong>SESSION 2</strong> &nbsp;&nbsp;&nbsp;&nbsp; AGES 8-10 // 11:00 am – 12:30 pm</h3>

    <h3><strong>SESSION 3</strong> &nbsp;&nbsp;&nbsp;&nbsp; AGES 11 – 13 // 1:00 pm – 2:30 pm</h3>
  </div>
  <a href="#inline_content" class="registerBtn inline cboxElement" title=""></a>
</div>

<div style='display:none'>
  <div id="inline_content">
    <form class="form-horizontal" action="create_spreadsheet" method="post" id="registration_form">
      <h4>Participant Information:</h4>
      <div class="control-group">
        <label class="control-label" for="fname">First Name</label>

        <div class="controls">
          <input type="text" id="fname" placeholder="First Name" name="fname">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="lname">Last Name</label>

        <div class="controls">
          <input type="text" id="lname" placeholder="Last Name" name="lname">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="age">Age <span>(as of May 18, 2013)</span></label>

        <div class="controls">
          <input type="text" id="age" placeholder="Age" name="age">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="tshirt">T-shirt Size</label>

        <div class="controls" id="tshirt">
          <select name="tshirt">
            <option value="Youth Small">
              Youth Small
            </option>
            <option value="Youth Medium">
              Youth Medium
            </option>
            <option value="Youth Large">
              Youth Large
            </option>
            <option value="Adult Small">
              Adult Small
            </option>
            <option value="Adult Medium">
              Adult Medium
            </option>
            <option value="Adult Large">
              Adult Large
            </option>
            <option value="Adult XL">
              Adult XL
            </option>
            <option value="Adult 2XL">
              Adult 2XL
            </option>
          </select>
        </div>
      </div><br />
      <h4>Parent Information:</h4>
      <div class="control-group">
        <label class="control-label" for="pname">Name</label>

        <div class="controls">
          <input type="text" id="pname" placeholder="Name" name="pname">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="email">Email</label>

        <div class="controls">
          <input type="text" id="email" placeholder="Email" name="email">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="phone">Phone No.</label>

        <div class="controls">
          <input type="text" id="phone" placeholder="Phone No." name="phone">
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <%=  submit_tag "Register", :type => "submit", :class => "btn btn-primary", :disable_with => "Please wait...." %>
        </div>
      </div>
    </form>
  </div>
</div>

<script type="text/javascript">

  $(document).ready(function () {
    $(".inline").colorbox({inline:true, width:"52%"});

    $('#flash').delay(500).fadeIn('normal', function() {
      $(this).delay(1500).fadeOut();
    });
    $(".alert").alert()

    $("#success_alert").hide();
    $("#error_alert").hide();

    jQuery.validator.addMethod("accept", function(value, element, param) {
      return value.match(new RegExp("." + param + "$"));
    });

    //validation
    $("#registration_form").validate({
      rules: {
        "fname": {
          required: true,
          minlength: 2,
          accept: "[a-zA-Z]+"
        },
        "lname": {
          required: true,
          minlength: 2,
          accept: "[a-zA-Z]+"
        },
        "age":{
          required:true,
          digits: true,
          min: 0,
          max: 100
        },
        "pname": {
          required: true,
          minlength: 2,
          accept: "[a-zA-Z]+"
        },
        "email":{
          required: true,
          email: true
        },
        "phone": {
          required:true,
          accept: "[0-9]+",
          minlength: 8,
          maxlength: 15
        }
      },
      messages:{
        "fname":{
          accept:"This field accepts only alphabets."
        },
        "lname":{
          accept:"This field accepts only alphabets."
        },
        "pname":{
          accept:"This field accepts only alphabets."
        },
        "phone":{
          accept:"This field accepts only digits."
        }
      }
    });
  });

</script>
